/*
COPDdb
*/

html, body{
	background-color: white;
	margin: 0; 
	padding: 0;
}

table.pretty {
  margin: 1em 1em 1em 2em;
  background: whitesmoke;
  border-collapse: collapse;
}
table.pretty th, table.pretty td {
  border: 1px silver solid;
  padding: 0.2em;
}
table.pretty th {
  background: gainsboro;
  text-align: center;
}
table.pretty caption {
  margin-left: inherit;
  margin-right: inherit;
}


#wrapper{
	width: 800px;
	height: 100%;
	margin: auto;
	padding-bottom: 0px;
	margin-bottom: 0px;
	background-color: white;
	font-family: helvetica;
	font-size: 12px;
	color: black;
	text-align: left;
}

#inner_wrapper{
	width: 750px;
	padding: 5px;
	
}
#child_name_div{
	font-size: 35px;
	color: green;
	font-weight: boldest;
}
#lower_info_div{
	width: 740px;
	margin:auto;
}
#guardian_div{
	float: left;
	width: 230px;
	padding: 5px;
	border-right: 1px solid yellow;
}
#medical_div{
	float: left;
	width: 230px;
	padding: 5px;
	border-right: 1px solid yellow;
}
#emergency_div{
	float: left;
	width: 230px;
	padding: 5px;
}
#datetime{
	float: right;
	padding-right: 5px;
	
}


}
